﻿@model NWMvcApp.Models.EmployeeModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Employee</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <p>
        Last name: @Html.TextBoxFor(m => Model.LastName)
    </p>

    <p>
        First name: @Html.TextBoxFor(m => Model.FirstName)
    </p>

    <p>
        Title: @Html.TextBoxFor(m => m.Title)
    </p>

    <p>
        Birth date: @Html.TextBoxFor(m=>Model.BirthDate)
    </p>
    
    <p>
        Address: @Html.TextBoxFor(m=>Model.Address)
    </p>

    <p>
        City: @Html.TextBoxFor(m=>Model.City)
    </p>

    <p>
        Region: @Html.TextBoxFor(m=>m.Region)
    </p>

    <p>
        Postal: @Html.TextBoxFor(m=>m.Postal)
    </p>

    <p>
        Hire date: @Html.TextBoxFor(m=>Model.HireDate)
    </p>
    
    <p>
        <input type="submit" value="submit"/> &nbsp;
        @Html.ActionLink("Back", "Index", "Employee")
    </p>

    
}