﻿@model NWMvcApp.Models.EmployeeModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Employees</h2>

@Html.ActionLink("Add New", "Create", "Employee")


<table class="table table-striped">
    <tr>
        <td>Name</td>
        <td>Title</td>
        <td>Birth date</td>
        <td>Hire date</td>
        <td>Address</td>
        <td>City</td>
        <td>Region</td>
        <td>Postal code</td>
    </tr>

    @foreach (var e in Model.EmployeeList)
    {
        <tr>
            <td>@e.TitleOfCourtesy @e.FirstName @e.LastName</td>
            <td>@e.Title </td>
            <td>@e.BirthDate.Value.ToShortDateString()</td>
            <td>@e.HireDate.Value.ToShortDateString()</td>
            <td>@e.Address</td>
            <td>@e.City</td>
            <td>@e.City</td>
            <td>@e.PostalCode</td>
        </tr>
    }

</table>
