﻿@model NWMvcApp.Models.ProductModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add New</h2>


@using (Html.BeginForm())
{
    <h2>Create Product</h2>

    @Html.ValidationSummary()
    <p>
        Product Name: @Html.TextBoxFor(m => Model.ProductName)
    </p>

    <p>
        Supplier: 
        @Html.DropDownListFor(x => x.SelectedSupplierItem, Model.SupplierSelectList, "", 
            new { id = "SupplierSelectList", name = "SupplierSelectList", style = "width:300px;", @class = "form-control" })      
    </p>

    <p>
        Category:
        @Html.DropDownListFor(x => x.SelectedCategoryItem, Model.CategorySelectList, "",
              new { id = "CategorySelectList", name = "CategorySelectList", style = "width:300px;", @class = "form-control" })
        
    </p>

    <p>
        Qty per unit: @Html.TextBoxFor(m => Model.QuantityPerUnit)
    </p>

    <p>
        Unit price: @Html.TextBoxFor(m => Model.UnitPrice)
    </p>

    <p>
        Units in stock: @Html.TextBoxFor(m => Model.UnitsInStock)
    </p>

    <p>
        Units on order: @Html.TextBoxFor(m => Model.UnitsOnOrder)
    </p>

    <p>
        Reorder level: @Html.TextBoxFor(m => Model.ReorderLevel)
    </p>

    <p>
        Discontinued: @Html.CheckBoxFor(m => Model.Discontinued)
    </p>
    
    <p>
        <input value="submit" type="submit" name="submit" /> &nbsp;
        @Html.ActionLink("Back", "Index", "Customer")
    </p>
}

