﻿@model NWMvcApp.Models.ProductModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Product Details</h2>

<table width="45%" cellpadding="3" cellspacing="3">
    <tr>
        <td>Name:</td>
        <td>@Model.ProductName</td>
    </tr>
    <tr>
        <td>Supplier:</td>
        <td>@Model.Supplier.CompanyName</td>
    </tr>
    <tr>
        <td>Category:</td>
        <td>@Model.Category.CategoryName</td>
    </tr>
    <tr>
        <td>Qty per unit:</td>
        <td>@Model.QuantityPerUnit</td>
    </tr>
    <tr>
        <td>Unit price:</td>
        <td>@Model.UnitPrice</td>
    </tr>
    <tr>
        <td>Units in stock:</td>
        <td>@Model.UnitsInStock</td>
    </tr>
    <tr>
        <td>Units on order:</td>
        <td>@Model.UnitsOnOrder</td>
    </tr>
    <tr>
        <td>Reorder level:</td>
        <td>@Model.ReorderLevel</td>
    </tr>
    <tr>
        <td>Discontinued:</td>
        <td>@Model.Discontinued</td>
    </tr>
</table>





