﻿@using NWMvcApp.Models
@model NWMvcApp.Models.ProductModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Products</h2>

<form>
    
    @Html.ActionLink("Add New", "Create", "Product")

    <table class="table table-striped">
        <tr>
            <td>
                Product Name
            </td>
            <td>
                Supplier
            </td>
        </tr>
        @foreach (var p in Model.ProductList)
        {
            <tr>
                <td>
                    @Html.ActionLink(p.ProductName, "Details", new { @id = p.ProductID})
                </td>
                <td>
                    @p.Supplier.CompanyName
                </td>
            </tr>
        }
    </table>



</form>