﻿@model NWMvcApp.Models.CustomerModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!--
    YouTube examples
    https://www.youtube.com/watch?v=KDuOr79z7yI
-->



@using (Html.BeginForm())
{
    <h2>Create Customer</h2>

    @Html.ValidationSummary()
    <p>
        Customer ID @Html.TextBoxFor(m => Model.CustomerId)
    </p>    
    
    <p>
        Company name @Html.TextBoxFor(m => Model.CompanyName)
    </p>

    <p>
        Contact name @Html.TextBoxFor(m => Model.ContactName)
    </p>

    <p>
        Contact title @Html.TextBoxFor(m => Model.ContactTitle)
    </p>

    <p>
        Address @Html.TextBoxFor(m => Model.Address)
    </p>

    <p>
        City @Html.TextBoxFor(m => Model.City)
    </p>

    <p>
        Region @Html.TextBoxFor(m => Model.Region)
    </p>

    <p>
        Postal code @Html.TextBoxFor(m => Model.PostalCode)
    </p>

    <p>
        Country @Html.TextBoxFor(m => Model.Country)
    </p>

    <p>
        Phone @Html.TextBoxFor(m => Model.Phone)
    </p>

    <p>
        Fax @Html.TextBoxFor(m => Model.Fax)
    </p>

    <p>
        <input value="submit" type="submit" name="submit" /> &nbsp;
        @Html.ActionLink("Back", "Index", "Customer")
    </p>
}
