﻿@model NWMvcApp.Models.CustomerModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer List</h2>

@Html.ActionLink("Add New", "Create", "Customer")

<table border="1">
    <tr>
        <td>
            Company Name
        </td>
        <td>
            Contact Name
        </td>
        <td>
            Contact Title
        </td>
        <td>
            Country
        </td>
        <td>
            Phone
        </td>
    </tr>


    @foreach (var c in Model.CustomerList)
    {
    <tr>
        <td>
            @c.CompanyName
        </td>
        <td>
            @c.ContactName
        </td>
        <td>
            @c.ContactTitle
        </td>
        <td>
            @c.Country
        </td>
        <td>
            @c.Phone
        </td>
    </tr>
    }
</table>